<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyUI - Typography</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/3403aa9b31.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="page-layout">
        <nav class="navbar">
            <a href="/index.html" class="logo">EASY UI</a>
            <div class="external-links">
                <a href="https://github.com/Mohitk391/easyUI-component-library/tree/dev"><i class="fa fa-github" aria-hidden="true"></i></a>
                <a href="https://twitter.com/MohitPa88351529"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </nav>
        <div class="main-body">
            <aside class="sidebar">
                <h3 class="sidebar-heading">Installation</h3>
                <div class="sidebar-item">
                    <a class="component-link" href="/installation.html">Get started</a>
                </div>
                <h3 class="sidebar-heading">Components</h3>
            <ul>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/alert/alert.html">Alert</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/avatar/avatar.html">Avatar</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/badge/badge.html">Badge</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/button/button.html">Button</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/card/card.html">Card</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/image/image.html">Image</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/input/input.html">Input</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/list/list.html">List</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/modal/modal.html">Modal</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/rating/rating.html">Rating</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/navigation/navigation.html">Navigation</a>
                </li>
                <li class="sidebar-item sidebar-item-active">
                    <a class="component-link" href="/components/typography/typography.html">Typography</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/toast/toast.html">Toast/Snackbar</a>
                </li>
                <li class="sidebar-item">
                    <a class="component-link" href="/components/grid/grid.html">Grid</a>
                </li>'
            </ul>
            </aside>
            <main class="main">
                <div class="component_wrapper">
                    <h2 class="component_heading">Typography</h2>
                    <p>
                        The text utilities makes about 80-90% of any site, so it is better to use awesome text utilities to make awesome projects. Following are text utilities which can be used to create awesome projects,
                        <span class="component_description">Headings</span>,
                        <span class="component_description">Different sized texts</span>
                    </p>
                    <h3 class="component_heading">Headings</h3>
                    
                    <div class="component_wrapper_box flex flex-column flex-space-between flex-gap-2">
                        <div class="h1">Heading-1</div>
                        <div class="h2">Heading-2</div>
                        <div class="h3">Heading-3</div>
                        <div class="h4">Heading-4</div>
                        <div class="h5">Heading-5</div>
                        <div class="h6">Heading-6</div>
                    </div>

                    <div class="component_iframe">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%2812%2C26%2C35%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14.5px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522h1%2522%253EHeading-1%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522h2%2522%253EHeading-2%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522h3%2522%253EHeading-3%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522h4%2522%253EHeading-4%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522h5%2522%253EHeading-5%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522h6%2522%253EHeading-6%253C%252Fdiv%253E"
                            class="typography-iframe"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                    <br /><br />

                    <div class="component_wrapper_box">
                        
                        <div class="component_wrapper_box flex flex-column flex-space-between flex-gap-2">
                            <div class="font-xs">Extra Small text</div>
                            <div class="font-xs">Small text</div>
                            <div class="font-md">Medium text</div>
                            <div class="font-lg">Large text</div>
                            <div class="font-xl">Extra Large text</div>
                            <div class="text-centered">Centered text</div>
                        </div>
    
                    </div>

                    <div class="component_iframe">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%2812%2C26%2C35%2C1%29&t=seti&wt=none&l=htmlmixed&width=585&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14.5px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522font-xs%2522%253EExtra%2520Small%2520text%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522font-xs%2522%253ESmall%2520text%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522font-md%2522%253EMedium%2520text%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522font-lg%2522%253ELarge%2520text%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522font-xl%2522%253EExtra%2520Large%2520text%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522text-centered%2522%253ECentered%2520text%253C%252Fdiv%253E"
                            class="typography-iframe"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>