@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "nav-bar nav-bar"
        "sidebar components";
}

.sidebar {
    border-right: 1px solid black;
    height: 100%;
    top: 0;
    font-family: roboto, sans-serif;
    font-size: 1rem;
    position: sticky;
    top: 20px;
}
.sidebar-heading{
    padding: 1rem ;
    text-align: center;
}

.sidebar ul {
    padding: 0;
}

.sidebar-item{
    text-align: center;
    list-style: none;
    padding: 1rem; 
}

.sidebar-item:hover{
    color: var(--black);
    background-color: var(--bg-color-hover);
    font-weight: 700;
}

.sidebar-item-active {
    color: var(--black);
    font-weight: 700;
}

.component-link{
    text-decoration: none;
    color: var(--text-secondary);
    
}

.nav-bar {
    padding: 1rem 0;
    background-color: var(--blue-background);
    width: 100vw;
    margin-bottom: 0.5rem;
}

.nav-bar a{
    text-decoration: none;
    color: var(--black);
}

.nav-bar-logo{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    padding: 0 1.5rem; 
}

.social-link {
    float: right;
    padding: 0 1rem;
}

@media only screen and (max-width: 720px) {
    .grid-container{
        grid-template-columns: 100vw;
        grid-template-areas:
        "nav-bar"
        "sidebar"
        "components";
    }
    .sidebar {
        position: static;
    }
}