
.navbar {
    display: grid;
    grid-template-columns: 1fr 4fr; 
    padding: 1rem;
    background-color: var(--blue-background);
    align-items: center;
    margin-bottom: 0.5rem;
}

.navbar a {
    color: var(--black);
    text-decoration: none;
} 

.logo{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    padding: 0 1.5rem; 
    
}

.external-links {   
    width: 20%;
    justify-self: end;

    display: flex;
    justify-content: space-evenly;
    
    font-size: 2rem;
}

.navbar-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;    
    background-color: var(--white);
    box-shadow: 0 3px 5px -3px var(--black);
}

.navbar-2 a {
    color: var(--black);
    text-decoration: none;
} 


.navbar-search{
    width: 20rem;
    border-radius: 1rem;
    border: 1px solid var(--bg-secondary);
    margin:0 auto;
    padding: 10px;
}

.navbar-search:hover{
    box-shadow: 1px 1px 8px 1px var(--bg-secondary);
}
.navbar-search:focus-within{
    box-shadow: 1px 1px 8px 1px var(--bg-secondary);
    outline: none;
}

.navbar-searchbar {
    border: none;
    outline: none;
    font-size: 1rem;
    width: 17rem;
}

.navbar-search i {
    color: var(--black);
}

.nav-bar-buttons{
    width: 15rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
}
